<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean name="foo" class="com.shanubhogh.HibernateCustomerRepositoryImpl">
	</bean>

	<bean name="customerSevice" class="com.shanubhogh.service.CustomerServiceImp" autowire="constructor">
      <!-- <property name="customerRepository" ref="foo" /> -->
      <!-- <constructor-arg index="0" ref="foo" />  -->
	</bean>

</beans>
